---

---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/styles/demo2.css" />
    <link rel="icon" href="/images/demo2/favicon.ico" type="image/x-icon" />
    <title>Quan Viet</title>
  </head>
  <body>
    <!-- Slider main container -->
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <img src="/images/demo2/1.avif" alt="appertizer" />
        </div>
        <div class="swiper-slide">
          <img src="/images/demo2/2.avif" alt="main" />
        </div>
        <div class="swiper-slide">
          <img src="/images/demo2/3.avif" alt="dessert" />
        </div>
      </div>
      <!-- Pagination -->
      <div class="swiper-pagination"></div>
    </div>
    <div class="image-container">
      <!-- Full menu image for larger screens -->
      <div class="responsive-image">
        <picture>
          <source srcset="/images/demo2/full-menu.avif" media="(min-width: 768px)" />
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw==" alt="Full Menu" />
        </picture>
      </div>
    </div>
    <script is:inline src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script is:inline>
      var menu = ['Appetizers', 'Main', 'Dessert'];
      const swiper = new Swiper('.swiper', {
        pagination: {
          el: '.swiper-pagination',
          bulletClass: 'swiper-pagination-bullet',
          bulletActiveClass: 'swiper-pagination-bullet-active',
          clickable: true,
          renderBullet: function (index, className) {
            return '<span class="' + className + '">' + menu[index] + '</span>';
          },
        },
      });
    </script>
  </body>
</html>
