---
import Layout2 from '~/layouts/PageLayout2.astro';

import Hero from '~/components/widgets/Hero.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Header from '~/components/widgets/Header.astro';
import { headerData2 } from '~/navigation';
import Pricing from '~/components/widgets/Pricing.astro';
import Steps2 from '~/components/widgets/Steps2.astro';

const metadata = {
  title: 'LaMi Design',
  ignoreTitleTemplate: true,
};
---

<Layout2 metadata={metadata}>
  <Fragment slot="header">
    <Header {...headerData2} isSticky showToggleTheme />
  </Fragment>

  <div id="header-section"></div>
  <Hero2
    image={{
      src: '~/assets/images/main-page/hero.webp',
      alt: 'Hero Image',
    }}
  >
    <Fragment slot="title">
      Let
      <span class="text-accent dark:text-white highlight"> LaMi</span> help your business success
    </Fragment>

    <Fragment slot="subtitle">
      Creating great digital experiences and making your brand looks good with clean, effective design. We help you
      connect with customers and grow your business.
    </Fragment>
  </Hero2>

  <!-- Content Widget **************** -->
  <Content
    id="why-section"
    isReversed
    title="Why choose us?"
    items={[
      {
        title: 'Professional Aesthetics',
        description:
          'Shape your brand’s reputation with a clean, professional look that leaves a lasting impression on your audience.',
      },
      {
        title: 'Responsive Layout',
        description: 'Ensure your site looks great on any device, whether viewed on a desktop, tablet, or smartphone.',
      },
      {
        title: 'Seamless Navigation',
        description:
          'Enhance user experience with an intuitive layout that allows visitors to find what they need quickly and effortlessly.',
      },
    ]}
    image={{
      src: '~/assets/images/main-page/why1.webp',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Beautiful design</h3>
      Gain a competitive edge by making your website stand out.
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Blazing Fast',
        description: 'Boost loading speeds and efficiency, swift access to user content.',
      },
      {
        title: 'Consistent Performance',
        description: 'Deliver consistent performance on all devices, provide a seamless experience for everyone.',
      },
      {
        title: 'QR-code friendly',
        description: 'Easily integrate and generate QR codes to gain quick access to your site.',
      },
    ]}
    image={{
      src: '~/assets/images/main-page/why2.webp',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Optimized mobile experience</h3>
      Provide a smooth experience on mobile devices.
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Value Proposition',
        description: 'Offer competitive pricing that helps customers save money.',
      },
      {
        title: 'Premium Quality',
        description: 'Deliver exceptional services by leveraging the latest technology.',
      },
      {
        title: 'Customer Satisfaction',
        description: 'Prioritize customer satisfaction with our commitment to quality and value.',
      },
    ]}
    image={{
      src: '~/assets/images/main-page/why3.webp',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Affordable Pricing</h3>
      Exceptional value without compromising on quality.
    </Fragment>
  </Content>

  <Pricing
    id="price-section"
    title="Our prices"
    subtitle="Only pay for what you need"
    prices={[
      {
        title: 'basic',
        subtitle: 'Single-page website with 2-3 content sections. Good for small businesses.',
        price: '300',
        period: '/ 2 years',
        // items: [{ description: 'Single page website' }, { description: '2-3 sections content' }],
        callToAction: {
          target: '_blank',
          text: 'See Demo',
          href: 'demo1',
        },
        hasRibbon: true,
        ribbonTitle: 'best value',
      },
      {
        title: 'pro',
        subtitle: 'Multi-page website with 3-5 pages of content. Ideal for established brands.',
        price: 500,
        period: '/ 2 years',
        // items: [{ description: 'Multiple pages website' }, { description: '3-5 pages content' }],
        callToAction: {
          target: '_blank',
          text: 'See Demo',
          href: 'demo2',
        },
        hasRibbon: true,
        ribbonTitle: 'top quality',
      },
      {
        title: 'custom',
        subtitle: 'Looking for more? We have many digital solutions to fit your needs.',
        price: '0',
        period: '/ session',
        callToAction: {
          text: "Let's talk",
          href: '#contact-section',
        },
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Pricing>

  <FAQs
    id="faq-section"
    title="Frequently Asked Questions"
    items={[
      {
        title: 'Why is it so budget-friendly?',
        description:
          'We prioritize design and retain only essential features to provide you with a cost-effective solution.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'Are there any hidden fees?',
        description:
          'No, all plans come with a fully functional website for 2 years. However, popular domain name may have additional costs.',
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'What happens after the 2-year period ends?',
        description: `Your website will no longer be accessible. You can renew the service for $50/year (plus the domain fee).`,
        icon: 'tabler:chevrons-right',
      },
      {
        title: 'What if I need to update my website?',
        description:
          'Once your website is delivered, it is considered complete. Any further adjustments or redesigns will be priced based on the scope of work.',
        icon: 'tabler:chevrons-right',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>

  <Steps2
    id="contact-section"
    title="Reach out to us"
    subtitle="Have questions? Feel free to contact us."
    items={[
      {
        title: 'Email',
        description: 'contact@support.com',
        icon: 'tabler:mail',
      },
      {
        title: 'Call',
        description: '+1 (469) 347-0003',
        icon: 'tabler:phone',
      },
    ]}
  />
</Layout2>
